#snake-field{
    display: inline-block;
}
#snake-renew,#snake-start{
    width: 145px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 0 5px;
}
.result, .changeLevel{
  padding: 15px;
  color: white;
  background-color: green;
  text-align: center;
  margin:10px 20px;
}
.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}
.snake-unit{
    background-color: white;
}
.food-unit{
    background-color: red;
}
.barrier-unit{
  background-color: yellow;
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 20px auto 0;
    text-align: center;
}
